---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
    aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
    aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
    cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">FORMATION</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="INSTITUT DE CRÉATION ET D’ANIMATION NUMÉRIQUE - ICAN"
      subtitle="2023 - 2026 à Paris"
    />
    <TimeLineElement
      title="LYCÉE POLYVALENT LE MANS SUD"
      subtitle="2020 - 2023 au Mans"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="ADECCO - intérim"
      subtitle="2023 - 2024 Paris"
    >
      Manutention en grand froid
      Employé polyvalent en vente
    </TimeLineElement>
    <TimeLineElement
      title="HÔPITAL PAUL CHAPRON - stage"
      subtitle="2019 - 2019 La Ferter Bernard"
    >
      maintenance informatique
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank"> Bachelor Game Design - en cours)</a>
    </li>
    <li>
      <a href="#" target="_blank"> Baccalauréat STI2D - mention assez bien</a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-3 columns-2 mx-6">
    <div class="mb-6">
      <div class="text-1xl w-full font-bold">  Logiciel de programmation</div>
    </div>
    <li>Unity</li>
    <li>Rider</li>
    <li>Visual Studio Code</li>
    
    <div class="mb-7">
      <div class="text-1xl w-full font-bold">  Language de programmation</div>
    </div>
    <li>C#</li>
    
    <div class="mb-6">
      <div class="text-1xl w-full font-bold"> Language tierce</div>
    </div>
    <li>Suite Office</li>
  </ul>
</BaseLayout>
