---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">FORMATION</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="INSTITUT DE CRÉATION ET D’ANIMATION NUMÉRIQUE - ICAN"
      subtitle="2023 - 2026 à Paris"
    />
    <TimeLineElement
      title="LYCÉE POLYVALENT LE MANS SUD"
      subtitle="2020 - 2023 au Mans"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="ADECCO - intérim"
      subtitle="2023 - 2024 Paris"
    >
      Manutention en grand froid
      Employé polyvalent en vente
    </TimeLineElement>
    <TimeLineElement
      title="HÔPITAL PAUL CHAPRON - stage"
      subtitle="2019 - 2019 La Ferter Bernard"
    >
      maintenance informatique
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank"> Bachelor Game Design - en cours</a>
    </li>
    <li>
      <a href="#" target="_blank"> Baccalauréat STI2D - mention assez bien</a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-3 columns-2 mx-3">
    <li>Unity</li>
    <li>Rider</li>
    <li>Visual Studio Code</li>
    <li>C#</li>
    <li>Suite Office</li>
  </ul>
</BaseLayout>
